.btn-normal {
    max-width: 100px;
    width: 100%;

    max-height: 36px;
    height: 36px;
    border-radius: 4px;
    border: 1px solid lightgray;

    font-family: 微软雅黑;
    font-size: 14px;
    color: deepskyblue;

    background-color: white;



    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;

}

.btn-normal:hover {
    border: 1px solid deepskyblue;
}

.btn-normal:active {
    background-color: lightgrey;
}
